
main{background-color: lightgoldenrodyellow;;

}

.hlavicka{
    background-color:lightblue;
    color: rgb(35, 46, 46);
}

.hlavicka, .paticka {
    text-align: center;
    padding: 15px;
}

.jmeno{
    text-transform: uppercase;
}

.omne, .ostatni{
    padding: 15px;
}

.omne p{
    text-indent: 20px;
    line-height: 1.5;
    }

.paticka {
    background-color:grey;
    color: white;
    font-weight: bold;
}

.paticka p{
    color: white;
}

h1, h2, h3{
    color: rgb(35, 46, 46);
    font-family: fantasy;
}

h1 {
    font-size: 30px;
    font-weight: bold;    
}

h2 {
    font-size: 20px;
    }

h3 {
    font-size: 15px;
    }

a {
    font-style: italic;
  }

a:hover {
    color: red;
}

a:visited {
    color: green;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    }

img {
    float: left;
    margin: 60px 30px 30px 15px;       
    }